body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header-bar {
    background-color: #2C3E50; /* Grüner Hintergrund */
    color: white; /* Textfarbe */
    display: flex; /* Flexbox für Anordnung */
    justify-content: space-between; /* Abstand zwischen Logo und Navigation */
    align-items: center; /* Vertikale Zentrierung */
    padding: 30px 15px; /* Innenabstand */
    margin: 0px;
}

.logo {
    font-size: 24px; /* Schriftgröße für das Logo */
    font-weight: bold; /* Fettdruck für das Logo */
}

.navigation ul {
    list-style: none; /* Keine Aufzählungszeichen */
    margin: 0; /* Kein äußerer Abstand */
    padding: 0; /* Kein innerer Abstand */
    display: flex; /* Flexbox für horizontale Anordnung */
}

.navigation li {
    margin-left: 20px; /* Abstand zwischen den Links */
}

.navigation a {
    color: white; /* Textfarbe für Links */
    text-decoration: none; /* Keine Unterstreichung */
    transition: color 0.3s; /* Übergangseffekt */
}

.navigation a:hover {
    color: #ddd; /* Farbe beim Überfahren mit der Maus */
}

.navigation a.active {
    background-color: #FFD700; /* Gold für die aktive Seite */
    color: #2C3E50; /* Dunkelblau für den aktiven Text */
    border-radius: 5px; /* Abgerundete Ecken */
    padding: 10px 0px;
}